@import "../../global.scss";

.subscribe {
  height: 100%;
  min-height: 600px;
  z-index: 2;
  // overflow-y: hidden;


  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: row;

    .left {
      flex: 2;

      display: flex;
      justify-content: center;
      height: 100vh;
      border-right: 4px solid black;
    }

    .right {
      flex: 2;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primaryColor;

      .terms-modal {
    
        position: 'relative';
        z-index: 1;
    
        .termsBtn {
          border: none;
          background-color: transparent;
          text-decoration: underline;
        }
      }
    

      
    }
  }
}

@media screen and (max-width: 960px) {

  .subscribe {

    display: flex;
    height: 100vh;

    .subContainer {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .left {
        border-bottom: 4px solid black;
        border-right: none;
        width: 100%;
        height: 100vh;
      }

      .right {

        .subForm {

          height: 100%;

          .form-title {
            font-size: 2rem;

          }
        }
      }
      
    
    }
  }
   
}
