@import './global.scss';

body {

  background-color: $primaryColor;
  margin: 0;
  padding: 0;

}

.App{

  * {
    
    font-family: 'Shrikhand', 'sans-serif';
    margin: 0;
    padding: 0;

    &::after, ::before {
      box-sizing: border-box;
    }

  }

  .pages {
    height: calc(100vh - 80px);
    font-size: 1rem;
  }

}