@import '../../global.scss';

.navbar {

  background-color: $secondaryColor;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 4px solid black;

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;

    .nav-logo {
      color: $primaryColor;
      align-items: center;
      margin-left: 20px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      flex-grow: 1;
      display: none;

    }

    .nav-menu {
      display: flex;
      list-style: none;
      text-align: center;
      margin-right: 2rem;

      .nav-item {
        line-height: 40px;
        margin-right: 1rem;
        padding: 1rem;

        &:after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: $primaryColor;
          transition: width 0.7s ease, background-color 0.5s ease;
        }

        &:hover:after {
          width: 100%;
          background: $primaryColor;
        }

        & .active {
          color: $primaryColor;
          border: 1px solid $primaryColor;
        }

        .nav-links {
          color: $primaryColor;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
        }

        .media-links {
          display: none;
        }

      }
    }

    .nav-icon {
      display: none;
    }

    

  }
}

@media screen and (max-width: 960px) {

  .navbar {

    background-color: $primaryColor;
    height: 90px;

    .nav-container {

      .nav-logo {
        display: flex;
        color: $secondaryColor;
        font-size: 3rem;
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        height: 100vh;
        border-top: 1px solid #fff;
        position: absolute;
        top: 80%;
        left: -110%;
        opacity: 1;
  
        .media-links {
          display: flex;
          justify-content: space-between;
        }
        // must attach active class for media queries i guess...
        &.active {
          background: $secondaryColor;
          left: 0px;
          opacity: 1;
          transition: all 0.7s ease;
          z-index: 1;
          
        }
        
        .nav-item.active {
          color: $secondaryColor;
          border: none;
        }

        .nav-links {
          padding: 1.5rem;
          width: 100%;
          font-size: 2rem;;
        }
      }
  
      .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-70%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: $secondaryColor;
      }
      

    }


  }

}